:root {
  /*Backgrounds*/
  --mainBg: hsl(222, 26%, 31%);
  --toggleBg: hsl(223, 31%, 20%);
  --screenBg: hsl(224, 36%, 15%);

  /*Keys*/
  --keyBg: hsl(225, 21%, 49%);
  --keyShadow: hsl(224, 28%, 35%);
  --keyRed: hsl(6, 63%, 50%);
  --keyDarkRed: hsl(6, 70%, 34%);

  --lightGrayish: hsl(30, 25%, 89%);
  --grayishOrange: hsl(28, 16%, 65%);

  /*Text*/
  --dark: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);

  --fontFamily: "League Spartan", sans-serif;
  --fontSize: 3.2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: var(--mainBg);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);

  display: grid;
  place-content: center;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.calculator {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.input {
  width: 100%;
  background-color: var(--toggleBg);

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.input__number {
  border: none;

  padding: 2rem 1rem;
  background-color: var(--toggleBg);
  color: var(--white);
  font-size: var(--fontSize);
  text-align: right;
  font-family: inherit;
}

.input__number.input__number-top {
  font-size: 2.4rem;
  padding: 1rem;
}

.input__number:focus {
  outline: none;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--toggleBg);
  padding: 2rem;
  border-radius: 1rem;
}
.numbers__row {
  display: flex;
  justify-content: space-between;
}

.numbers__row div {
  background-color: var(--lightGrayish);
  padding-block: 1rem;
  width: 10rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 6px var(--grayishOrange);
}

.numbers__row .numbers__delete {
  background-color: var(--keyBg);
  box-shadow: 0px 6px var(--keyShadow);
  color: var(--white);
  text-transform: uppercase;
}

.numbers__row div:hover {
  cursor: pointer;
}
.numbers__row--5 {
  gap: 2rem;
}

.numbers__row--5 div {
  flex: 1;
}

.numbers__row .numbers__reset {
  background-color: var(--keyBg);
  box-shadow: 0px 6px var(--keyShadow);
  color: var(--white);
  text-transform: uppercase;
}

.numbers__row .numbers__equal {
  background-color: var(--keyRed);
  box-shadow: 0px 6px var(--keyDarkRed);
  color: var(--white);
  text-transform: uppercase;
}
